@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  padding: 165px 70px 70px;
  height: 100%;
  width: 982px;
  border: 10px solid rgb(9, 200, 176);
  font-weight: 900;
  font-family: 'Baloo Tamma 2', cursive;
}

header {
  display: flex;
  justify-content: space-between;
  width: 520px;
  height: 74px;
}

h1,
header i {
  font-size: 60px;
}

.main-song {
  margin-top: 125px;
  display: flex;
}

.main-song__cover {
  margin-right: 40px;
}

.main-song__cover__img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 318px;
  height: 328px;
  border: 5px solid rgb(25, 24, 30);
  border-radius: 30px;
  background-color: rgb(255, 189, 17);
}

.main-song__cover__img-box i {
  color: rgb(255, 255, 255);
  font-size: 100px;
}

.main-song__information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-song__title {
  line-height: 1.1;
  font-size: 90px;
}

.main-song__author {
  font-size: 40px;
}

.btns {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between
}

.btns__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 153px;
  border: 5px solid rgb(25, 24, 30);
  box-shadow: 0 5px rgb(25, 24, 30);
}

.btns__btn-big {
  width: 425px;
  height: 153px;
  border-radius: 30px;
}

.btns__btn-big i,
.btns__btn-small i {
  font-size: 70px;
}

.btns__btn-big span {
  margin-left: 25px;
  font-size: 50px;
}

.btns__btn-small {
  width: 154px;
  border-radius: 50%;
}

.song-list {
  display: flex;
  flex-direction: column;
}

.song-list li {
  display: flex;
  margin-bottom: 120px;
}

.song-list__cover {
  margin-right: 28px;
  width: 135px;
  height: 132px;
  border: 5px solid rgb(25, 24, 30);
  border-radius: 30px;
}

.song-list .song-list__song:first-child .song-list__cover{
  background-color: rgb(248, 90, 42);
}

.song-list .song-list__song:nth-child(2) .song-list__cover{
  background-color: rgb(255, 137, 187);
}

.song-list .song-list__song:nth-child(3) .song-list__cover{
  background-color: rgb(24, 71, 229);
}

.song-list .song-list__song:last-child .song-list__cover{
  background-color: rgb(0, 198, 173);
}

.song-list__information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.song-list__information h5 {
  font-size: 50px;
}

.song-list__information h6 {
  font-size: 30px;
  font-weight: normal;
}