* {
  box-sizing: boder-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(14,14,14);
}

.box {
  position: relative;
  width: 396px;
  height: 262px;
  background-color: rgb(255,255,255);
}

.box-title {
  margin: 10px 15px;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}

.box-title > i {
  opacity: 0.4;
}

.box-notice {
  display: flex;
  width: auto;
  height: 64px;
  font-size: 17px;
  color: rgb(255,255,255);
  background-color: rgb(255,114,0);
}

.box-notice > i {
  margin: 10px 17px;
  font-size: 45px;
}

.box-notice .box-notice_message {
  margin-top: 22px;
  font-weight: bold;
}

.box-content {
  margin: 27px;
  font-size: 14px;
}

.box-btn {
  position: absolute;
  left: 120px;
}

button {
  width: 150px;
  height: 35px;
  border: 2px solid rgb(0,164,104);
  background-color: rgb(255,255,255);
} 