body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: tomato;
}

.whole-box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  background: wheat;
  border: 2px solid black;
  }