@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  padding: 165px 70px 70px;
  height: 100%;
  width: 982px;
  border: 10px solid rgb(9, 200, 176);
  font-weight: 900;
  font-family: 'Baloo Tamma 2', cursive;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 520px;
  height: 74px;
  font-size: 60px;
}

.header {
  margin-top: 125px;
  display: flex;
}

.header__left {
  margin-right: 40px;
}

.header__left__img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 318px;
  height: 328px;
  border: 5px solid rgb(25, 24, 30);
  border-radius: 30px;
  background-color: rgb(255, 189, 17);
}

.header__left__img-box i {
  color: rgb(255, 255, 255);
  font-size: 100px;
}

.header__right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__right span:first-child {
  line-height: 1.1;
  font-size: 90px;
}

.header__right span:last-child {
  font-size: 40px;
}

.btn {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between
}

.btn__left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 425px;
  height: 153px;
  border: 5px solid rgb(25, 24, 30);
  border-radius: 30px;
  font-size: 50px;
  box-shadow: 0 5px rgb(25, 24, 30);
}

.btn__center,
.btn__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 154px;
  height: 145px;
  border: 5px solid rgb(25, 24, 30);
  border-radius: 50%;
  box-shadow: 0 5px rgb(25, 24, 30);
}

.btn__left i,
.btn__center i,
.btn__right i {
  font-size: 70px;
}

.btn__left span {
  margin-left: 25px;
}

.main {
  display: flex;
  flex-direction: column;
}

.main li {
  display: flex;
  margin-bottom: 120px;
}

.main__left__img-box {
  margin-right: 28px;
  width: 135px;
  height: 132px;
  border: 5px solid rgb(25, 24, 30);
  border-radius: 30px;
}

.main-first .main__left__img-box {
  background-color: rgb(248, 90, 42);
}

.main-second .main__left__img-box {
  background-color: rgb(255, 137, 187);
}

.main-third .main__left__img-box {
  background-color: rgb(24, 71, 229);
}

.main-fourth .main__left__img-box {
  background-color: rgb(0, 198, 173);
}

.main__right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main__right span:first-child {
  font-size: 50px;
}

.main__right span:last-child {
  font-size: 30px;
  font-weight: normal;
}