@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  padding: 63px 84px 68px 68px;
  width: 984px;
  height: 120vh;
  font-family: 'Nunito', sans-serif;
  background-color: rgb(243, 243, 244);
}

.whole-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 364px;
  height: 756px;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
}

.whole-box__big-box {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  height: 729px;
}

header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  width: inherit;
}

header i {
  font-size: 18px;
}

.playlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playlist__artist-cover img {
  margin-top: 22px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 0px 15px 8px rgba(252, 216, 223, 0.911);
}

.playlist h1 {
  margin-top: 40px;
}

.playlist h4 {
  margin-top: 16px;
}

.playlist__action {
  margin-top: 40px;
  display: flex;
}

.playlist__action__shuffle {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 44px;
  border-radius: 40px;
  color: rgb(255, 255, 255);
  background-color: rgb(34, 34, 34);
}

.playlist__action__popular {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 44px;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 5px rgba(245, 242, 242, 0.788);
}

.playlist__action__popular i {
  margin-right: 10px;
}

.playlist__action__popular span {
  opacity: 0.3;
  font-weight: 700;
}

ul {
  margin-top: 25px;
}

ul li {
  padding: 16px 26px;
  display: flex;
  width: 330px;
  height: 74px;
}

ul li:nth-child(2) {
  border-radius: 10px;
  box-shadow: 1px 5px 5px 3px rgba(245, 242, 242, 0.788);
}

ul li:nth-child(2) img {
  filter: brightness(80%);
}

ul li:nth-child(2) .album-cover {
  position: relative;
}

ul li:nth-child(2) .album-cover i {
  position: absolute;
  top: 13px;
  left: 12px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.album-cover img {
  margin-right: 20px;
  width: 46px;
  height: 46px;
  border-radius: 10px;
}

.album-information {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.album-setting {
  right: 20px;
  display: flex;
  align-items: center;
  width: 8px;
}

.album-setting i {
  opacity: 0.3;
}

footer {
  position: fixed;
  bottom: 16px;
  padding: 14px26px;
  display: flex;
  width: 330px;
  height: 70px;
  border-radius: 50px;
  background-color: rgb(34, 34, 34);
}

.footer--song-information {
  margin-right: 78px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer--song-informationspan:first-child {
  color: rgb(146, 145, 145);
  font-size: 12px;
}

.footer--song-information h3 {
  color: rgb(248, 248, 248);
}

.footer--play-icons-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer--play-icons-box__icons {
  color: rgb(248, 248, 248);
}

.footer--play-icons-box__icons i:nth-child(2) {
  margin: 022px;
  font-size: 20px;
}