body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh;
  font-family: 'Times New Roman', Times, sans-serif;
  font-size: 20px;
  background-color: rgb(238, 238, 238);
}

.whole-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.single-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 30px 10px;
  width: 240px;
  height: 394px;
  background-color: rgb(255, 255, 255);
}

.color-box {
  position: absolute;
  width: 220px;
  height: 374px;
}

.text-box {
  height: 130px;
  background-color: rgb(255, 255, 255);
}

#color-tomato {
  background-color: rgb(255, 99, 71);
}

#color-teal {
  background-color: rgb(0, 128, 128);
}

#color-burlywood {
  background-color: rgb(222, 184, 135);
}

#color-thistle {
  background-color: rgb(215, 191, 215);
}